apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
- ../../base
- namespace.yaml
images:
- name: kubeflow/training-operator
  newName: quay.io/opendatahub/training-operator
  newTag: latest
